

<div class="User Profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent text-center">
            <h1>{{ user.username }}'s Profile</h1>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h3 class="mb-0"><i class="far fa-clone pr-1"></i>Contact Information</h3>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Email</th>
                <td width="2%">:</td>
                <td>
                  <form>
                    <label for="email"></label><br>
                    <div class="flexbox">
                      <p>{{ user.email }}</p>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th width="30%">Phone Number</th>
                <td width="2%">:</td>
                <td>
                  <form>
                    <label for="pnumber"></label><br>
                    <div class="flexbox">
                      <p>{{ user.phone }}</p>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th width="30%">First Name</th>
                <td width="2%">:</td>
                <td>
                  <form>
                    <label for="fname"></label><br>
                    <div class="flexbox">
                      <p>{{ user.firstname }}</p>
                    </div>
                  </form>
                </td>
              </tr>
              <tr>
                <th width="30%">Last Name</th>
                <td width="2%">:</td>
                <td>
                  <form>
                    <label for="lname"></label><br>
                    <div class="flexbox">
                      <p>{{ user.lastname }}</p>
                    </div>
                  </form>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <h2>Reviews</h2>
        <hr>
        <div *ngFor="let review of userReviews">    
            <mat-card>
                <mat-card-title>{{ review.subject }}</mat-card-title>
                <mat-card-subtitle>By {{ review.reviewer.username }}</mat-card-subtitle>
                <mat-card-content>
                    {{ review.body }}
                    <a style="display: block; font-style: italic;" [routerLink]="['/movies', review.imdbid]">Go to movie</a>
                </mat-card-content>
            </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
