* {
    --primary-color: #1B1725;
    --secondary-color: #534B62;
    --background-color: #f0f5ff;

    --primary-text: white;
    --secondary-text: white;

    --nav-button-background: #534B62;
    --nav-button-text: white
}