@import "../../_variables.css";

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: var(--primary-color);
    color: var(--primary-text);
    text-align: center;
}

a, a:active {
    color: var(--primary-text);
    text-decoration: none;
}

#navbar-brand {
    font-size: 150%;
    padding: 1.5rem;
}

.authButton {
    display: inline-block;
    width: 5rem;
    margin: 0.5rem;
    align-self: center;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #1789FC;
}



@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    nav {
        flex-direction: row;
        align-items: center;
        padding: 0.5rem;
    }

    #navbar-brand {
        padding: 1px;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {

}
