<nav>
    <span id="navbar-brand">
        <a [routerLink]="['/']">Cognoscenti</a>
    </span>
    <app-search-input></app-search-input>
    <div id="authButtons" *ngIf="!isAuthenticated">
        <a [routerLink]="['login']" class="authButton">Login</a>
        <a [routerLink]="['register']" class="authButton">Register</a>
    </div>
    <div *ngIf="isAuthenticated">
        <a [routerLink]="[username, 'profile']" class="authButton">Profile</a>
        <a [routerLink]="[username, 'profile', 'edit']" class="authButton">Edit Profile</a>
        <span class="authButton" (click)="logOutUser()">Logout</span>
    </div>
</nav>
