@import "../../_variables.css";

nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: var(--primary-color);
    color: var(--primary-text);
    text-align: center;
}

a, a:active {
    color: var(--primary-text);
    text-decoration: none;
}

#navbar-brand {
    font-size: 150%;
    padding: 1.5rem;
}



@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    nav {
        flex-direction: row;
        align-items: flex-start;
        padding: 1.5rem;
    }

    #navbar-brand {
        padding: 1px;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    
}