#main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#top-selling-list div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#top-selling-list div div {
    display: block;
    text-align: center;
    width: 10rem;
}

img {
    width: 7.5rem;
}

a {
    text-decoration: none;
    color: black;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
    
}