<div>
  <h1 id="login-header">Register</h1>
  
  <form id="register-form">
    <input type="text" name="username" id="username-field" placeholder="Username" [(ngModel)]="username">
    <input type="password" name="password" id="password-field" placeholder="Password" [(ngModel)]="password">
    <input type="text" name="firstname" id="firstname-field" placeholder="firstname" [(ngModel)]="firstname">
    <input type="text" name="lastname" id="lastname-field" placeholder="lastname" [(ngModel)]="lastname">
    <input type="text" name="email" id="email-field" placeholder="email" [(ngModel)]="email">
    <input type="text" name="phone" id="phone" placeholder="phone" [(ngModel)]="phone">
    <button type="submit" id="register-form-submit" (click)="handleClick()">
      Register
    </button>
  </form>  
</div>
