div {
    display: flex;
}

#movieInfoBox {
    display: inline-block;
    width: 20rem;
}

#movieMiscBox {
    display: inline-block;
    padding: 25px;
    width: 75%
}

#movieInfoBox img {
    width: 20rem;
}

#movieInfoBox h1 {
    text-align: center;
}