div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#movieInfoBox {
    display: inline-block;
    width: 20rem;
}

#movieMiscBox {
    display: inline-block;
    padding: 25px;
    width: 75%
}

#movieInfoBox img {
    width: 20rem;
}

#movieInfoBox h1 {
    text-align: center;
}



@media (min-width: 576px) {
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    div {
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    
}