<div>
    <div id="movieInfoBox">
        <img src="{{ movie.image }}" alt="Movie poster for {{ movie.title }}">
        <h1>
            {{ movie.title }}<br>
            {{ movie.year }}
        </h1>
    </div>
    <div id="movieMiscBox">
        <mat-tab-group>
            <mat-tab label="Movie Info">
                <app-movie-detail [movie]="movie"></app-movie-detail>
            </mat-tab>
            <mat-tab label="Actors">
                <app-movie-actors [movie]="movie"></app-movie-actors>
            </mat-tab>
            <mat-tab label="Reviews">
                <app-review-list [reviews]="reviews" [movie_id]="movie.id"></app-review-list>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>
