<div>
    <div style="display: block;">
        <app-create-review-form [movie_id]="movie_id"></app-create-review-form>
    </div>
    <div *ngFor="let review of reviews" style="display: block;">
        <mat-card>
            <mat-card-title>{{ review.subject }}</mat-card-title>
            <mat-card-subtitle>By {{ review.reviewer.username }}</mat-card-subtitle>
            <mat-card-content>
                {{ review.body }}
            </mat-card-content>
        </mat-card>
    </div>
</div>